@{
    ViewBag.Title = "Pagina oficial da melhor empresa especializada em cosmeticos";
}
<img src="~/assets/img/chevou.png" class="img-circle" alt="User Image">
<div class="jumbotron">
    <h1>ChevouxCosmetics</h1>
    <p class="lead">A ChevouxCosmetics e uma empresa especializada na fabricaçao de cosmeticos biodegradáveis</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Os Melhores produtos </h2>
        <p>
            Temos os melhores produtos cosmeticos do brasil , acesse o nosso 
            site e saiba mais .
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Venha conhecer a nossos novos produtos de abacate </h2>
        <img src="~/assets/img/abacat.png" class="user-image" alt="User Image">

        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    
</div>
<img src="~/assets/img/che.png" class="img-circle" alt="User Image">